__pycache__/*
mud.log
mud.log.1
.vscode/settings.json
mud.log.2
mud.log.3
certificate.pem
ca_bundle.pem
private.key
mudevent.py
output.png
races/__pycache__/*
monsters/__pycache__/*
*/__pycache__/*
monsters/__pycache__/skeleton.cpython-312.pyc
