__pycache__/*
mud.log
mud.log.1
.vscode/settings.json
mud.log.2
mud.log.3
certificate.pem
ca_bundle.pem
private.key
mudevent.py
output.png
races/__pycache__/*
monsters/__pycache__/*
*/__pycache__/*
monsters/__pycache__/skeleton.cpython-312.pyc
dontcheckin.py
website/client2/.angular/cache/*
website/client2/dist/*
website/client2/node_modules/*
website/wwwroot
node_modules/*
website/client2/src/assets/mud-images/*
website/client3_unused/*
website/client3/public/mud-images/*
game/ai/__pycache__/*
game/commands/__pycache__/*
game/enums/__pycache__/*
game/interfaces/__pycache__/*
game/events/__pycache__/*
game/commands/directions/__pycache__/*
game/ai/services/__pycache__/*
*.txt
core/ai/__pycache__/*
core/ai/services/__pycache__/*
core/commands/__pycache__/*
core/commands/directions/__pycache__/*
core/data/__pycache__/*
core/enums/__pycache__/*
core/events/__pycache__/*
core/interfaces/__pycache__/*
game_data.db
core/objects/__pycache__/*
services/ai/services/__pycache__/*
services/ai/__pycache__/*
core/objects/__pycache__/*
