// code
inline-code,
span.code,
code,
.code-command {
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    line-height: 1.4 !important;
}

// code is a block code snippet
code {
    min-width: 400px;
    display: block;
    padding: .2rem 1rem;
}

// span.code is meant to be on the same line (inline)
inline-code,
span.code,
.code-command {
    display: inline-block; 
    padding: .5rem 1rem;
}

code:hover,
inline-code:hover,
span.code:hover,
.code-command:hover {
    -webkit-text-stroke-width: .5px;
}

cmd-structure {
    font-size: 1.2rem;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

cmd-name {
    padding: 0 5px;
}

cmd-flag {
    padding: 0 5px;
}
