.inventory-container {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: min-content 1fr;
}

.inventory-title {
    text-align: center;
    font-size: 1.2em;
    color: gold;
    padding: 0.5em 0;
}

.inventory-list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 0.5em; /* Gap between items */
}

.inventory-item {
    background-color: #333;
    color: grey;
    padding: 0.5em;
    text-align: center;
    border-radius: 4px;
    font-size: 0.9em;
}

.inventory-list div {
    padding-left: 1.5em;
    text-indent: -.7em; 
}

.inventory-list div:before {
    content: "\269C"; 
    color: gold;
    display: inline-block;
    width: 0.8em;
    margin-left: -0.8em;
}