.lute-icon {
  font-family: monospace;
  white-space: pre-wrap;
  color: #ddd;
  font-size: 0.8em;
}

.lute-strings {
  color: gold;
}
.lute-body {
  color: #c49b66;
}
.lute-neck {
  color: #8b5e3c;
}