<div class="main">
    <div>
        <h4>What is the name of your adventurer?</h4><br>
    </div>
    <div>
        <form [formGroup]="formGroup" (keydown)="onKeydown($event)">
            <mat-form-field class="nameinput">
                <mat-label>Name thy adventurer!</mat-label>
                <input maxlength="10" matInput [placeholder]="placeholderName"  formControlName="name" />
            </mat-form-field>
        </form>
    </div>
    <div><button mat-button (click)="submit()">Begin</button></div>
</div>