<div class="main">
    <div>
        <h4>{{this.title}}</h4><br>
    </div>
    <div>
        <form [formGroup]="formGroup" (keydown)="onKeydown($event)">
            <mat-form-field class="nameinput">
                <input maxlength="25" matInput [(ngModel)]="placeholderName" formControlName="name" />
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions align="end">
        <button class="buttons" mat-button (click)="submit()">To Adventure!</button>
    </div>
</div>