.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #14161A;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: gold;
}

.modal-content input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    width: 200px;
}

.modal-content button {
    background-color: #333;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #3e8e41;
}

.game-column {
    display: grid;
    grid-template-areas:
        "game-map"
        "data"
        "command-input";
    grid-template-rows: 120px auto 120px;


    .data {
        grid-area: data;
        background-color: #14161A;
        color: #888;
        overflow-y: auto;
        width: 100%;
        height: calc(100vh - 240px);
        padding: 1em 2em;        
        border: 2px solid #333;
        border-radius: 4px;
    }

    .command-input {
        grid-area: command-input;
    }

    .game-map {
        grid-area: game-map;
        width: 100%;
    }
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-blue {
    color: blue;
}

.color-white {
    color: white;
}

.color-yellow {
    color: yellow;
}

.color-cyan {
    color: cyan;
}

.color-magenta {
    color: magenta;
}

.color-black {
    color: black;
}

.color-gray {
    color: gray;
}

.color-grey {
    color: grey;
}

.color-orange {
    color: orange;
}

.color-teal {
    color: teal;
}

.color-maroon {
    color: maroon;
}

.color-olive {
    color: olive;
}

.color-navy {
    color: navy;
}

.color-lime {
    color: lime;
}

.color-aqua {
    color: aqua;
}

.color-silver {
    color: silver;
}

.color-crimson {
    color: crimson;
}

.color-purple {
    color: purple;
}

.color-brown {
    color: brown;
}

.color-pink {
    color: pink;
}

.top-bar {
    background-color: black;
    color: gold;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

$top-bar-height: 200px;

.game-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: calc(100vh - #{$top-bar-height});
    width: 100%;
    overflow: hidden;
}

.rightSideBar {
    padding: 10px;
    background-color: #14161A;
    border-top: 1px solid #333;
}

.rightSideBar img {
    width: 100%;
    height: 100%;
}

.title {
    font-family: 'fantasy', cursive;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 4px #000000;
    color: gold;
    text-transform: capitalize;
    order: 2;
}

.room-image {
    order: 1;
}

.health {
    order: 3;
}

@media (max-width: 768px) {
    .game-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .rightSideBar {
        border-top: 1px solid #333;
    }

    .command-input {
        order: -1;
    }

    .input-field {
        width: calc(100% - 1em);
    }

    .title {
        font-size: 2em;
    }
}

@media (min-width: 769px) {
    .game-grid {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
    }

    .rightSideBar {
        border-top: none;
    }

    .command-input {
        order: 0;
    }

    .title {
        font-size: 3em;
    }
}