.sword-next-icon {
    font-family: monospace;
    white-space: pre-wrap;
    color: #ddd;
    font-size: 0.8em;
}

.sword-shiny {
    color: gold;
    font-weight: bold;
  }
  
  .sword-hilt {
    color: #a07040;
  }
  
  .sword-pommel {
    color: brown;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .sword-blade {
    color: black;
    font-weight: 900;
  }
  
  .sword-text {
    color: gold;
    font-weight: bold;
  }