@use '@angular/material' as mat;

@include mat.core();

@import './styles/dark.scss';
@import './styles/colorful.scss';
@import './styles/tables.scss';
@import './styles/code.scss';
@import './styles/references.scss';
@import './styles/quotes.scss';
@import './styles/assets/lagoon.scss';

@function get-color-from-palette($palette, $shade) {
    @if (map-has-key($palette, $shade)) {
        $palette: map-get($palette, $shade);
    }

    @return $palette;
}

@media (min-width: 0) {
    dl {
        gap: .4rem;
        padding: .5rem;
    }

    dd {
        width: 80%;
    }
}

@media (min-width: 768px) {
    dl {
        gap: .4rem;
        padding: .5rem;
    }

    dd {
        width: 90%;
    }

}

@media (min-width: 992px) {
    dt {
        max-width: 400px;
    }
}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}

$theme-border-color: get-color-from-palette($dark-primary-palette, 500);
$theme-background: get-color-from-palette($dark-primary-palette, 50);

// code -light
$theme-light-code-background: get-color-from-palette($dark-primary-palette, "code-background");
$theme-light-code-color: get-color-from-palette($dark-accent-palette, "code-color");

// code -dark
$theme-dark-code-background: get-color-from-palette($light-primary-palette, "code-background");
$theme-dark-code-color: get-color-from-palette($light-primary-palette, "code-color");

// comments
$theme-comment-background: get-color-from-palette($dark-primary-palette, 200);
$theme-comment-color: get-color-from-palette($dark-primary-palette, 400);

//notes
$theme-note-background: get-color-from-palette($dark-primary-palette, 300);
$theme-note-color: get-color-from-palette($dark-primary-palette, 50);

//answers
$theme-answer-background: get-color-from-palette($dark-primary-palette, 300);
$theme-answer-color: get-color-from-palette($dark-primary-palette, 50);

//card
$theme-card-background: get-color-from-palette($dark-accent-palette, 50);
$theme-card-color: #222;

//table
$theme-table-background: get-color-from-palette($light-primary-palette, 200);
$theme-table-color: get-color-from-palette($light-primary-palette, 400);

//files
$theme-file-background: #454B1B;
$theme-file-color: yellow;

//navbar
$theme-navbar-background: get-color-from-palette($dark-primary-palette, 500);
$theme-navbar-color: get-color-from-palette($dark-primary-palette, A100);

//buttons
$theme-light-button-background-color: get-color-from-palette($light-primary-palette, 900);
$theme-dark-button-background-color: get-color-from-palette($dark-primary-palette, 400);
$theme-light-button-color: get-color-from-palette($light-primary-palette, 50);
$theme-dark-button-color: get-color-from-palette($dark-primary-palette, 50);

//buttons hover
$theme-light-button-hover-background-color: get-color-from-palette($light-primary-palette, A700);
$theme-dark-button-hover-background-color: get-color-from-palette($dark-primary-palette, 900);
$theme-light-button-hover-color: get-color-from-palette($light-primary-palette, 100);
$theme-dark-button-hover-color: get-color-from-palette($dark-primary-palette, 100);

//primary color
$theme-dark-primary-color: get-color-from-palette($dark-primary-palette, "primary");
$theme-light-primary-color: get-color-from-palette($light-primary-palette, "primary");

//links
$theme-dark-a-active-color: get-color-from-palette($dark-primary-palette, 100);
$theme-light-a-active-color: get-color-from-palette($light-primary-palette, 100);
$theme-dark-a-visited-color: get-color-from-palette($dark-primary-palette, 200);
$theme-light-a-visited-color: get-color-from-palette($light-primary-palette, 200);
$theme-dark-a-hover-color: get-color-from-palette($dark-primary-palette, 300);
$theme-dark-a-link-color: get-color-from-palette($dark-primary-palette, "link");
$theme-light-a-link-color: get-color-from-palette($light-primary-palette, "link");

// images
img {
    border: 2px ridge var(--theme-border);
    border-radius: 5px;
}

// pop color
$theme-pop: deepskyblue;
$theme-header-color: anqituewhite;

// these variables can be accessed in the global scope
:root {
    --theme-dark-primary-color: #{$theme-dark-primary-color};
    --theme-light-primary-color: #{$theme-light-primary-color};
    --theme-dark-a-link-color: #{$theme-dark-a-link-color};
    --theme-light-a-link-color: #{$theme-light-a-link-color};
    --theme-dark-button-background-color: #{$theme-dark-button-background-color};
    --theme-light-button-background-color: #{$theme-light-button-background-color};
    --theme-dark-button-color: #{$theme-dark-button-color};
    --theme-light-button-color: #{$theme-light-button-color};
    --theme-dark-button-hover-color: #{$theme-dark-button-hover-color};
    --theme-light-button-hover-color: #{$theme-light-button-hover-color};
    --theme-dark-button-hover-background-color: #{$theme-dark-button-hover-background-color};
    --theme-light-button-hover-background-color: #{$theme-light-button-hover-background-color};
    --theme-dark-a-visited: #{$theme-dark-button-color};
    --theme-light-a-visited: #{$theme-light-button-color};
    --theme-dark-a-hover: #{$theme-dark-button-hover-color};
    --theme-light-a-hover: #{$theme-light-button-hover-color};
    --theme-dark-a-active-color: #{$theme-dark-a-active-color};
    --theme-light-a-active-color: #{$theme-light-a-active-color};
    --theme-light-code-background: #{$theme-light-code-background};
    --theme-light-code-color: #{$theme-light-code-color};
    --theme-dark-code-background: #{$theme-dark-code-background};
    --theme-dark-code-color: #{$theme-dark-code-color};
    --theme-border: #{$theme-border-color};
    --theme-background: #{$theme-background};
    --theme-background-light-gray: silver;
    --theme-background-gray: #222;
    --theme-background-light-purple: plum;
    --theme-note-background: #{$theme-note-background};
    --theme-note-color: #{$theme-note-color};
    --theme-comment-background: #{$theme-comment-background};
    --theme-comment-color: #{$theme-comment-color};
    --theme-pop: #{$theme-pop};
    --theme-file-background: #{$theme-file-background};
    --theme-file-color: #{$theme-file-color};
    --theme-card-background: #{$theme-card-background};
    --theme-card-color: #{$theme-card-color};
    --theme-table-background: #{$theme-card-background};
    --theme-table-color: #{$theme-card-color};
    --theme-navbar-background: #{$theme-navbar-background};
    --theme-navbar-color: #{$theme-navbar-color};
    --theme-header-color: #{$theme-header-color};
}

html,
body {
    line-height: 1.5;
    margin: 0;
    font-size: 1.2rem;
    font-family: "JetBrains Mono", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    height: 100%;
    font-size: 1rem;
    background-color: var(--theme-background-gray);
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

div {
    line-height: 1.2em;
    font-size: 1rem;
    border-radius: 5px;
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

img {
    width: 600px;
}

/* width */
::-webkit-scrollbar {
    width: .4rem;
    height: .4rem;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

pre {
    white-space: pre-wrap;
    font-family: "JetBrains Mono", monospace;
    margin: .2rem;
}

wbr:after {
    content: "\00200B";
}

.mat-step-header .mat-step-icon {
    background-color: $theme-background;
    color: var(--theme-background-light);
    font-size: 14px;
}

// forms
.mat-mdc-form-field {
    width: 100%;
    margin: 5px;
    position: relative;
    overflow: hidden !important;
}

.mat-mdc-floating-label {
    padding: .4rem 0 0 0 !important
}

.additional-note,
.additional-notes,
.asterisk {
    max-width: 90%;
    font-size: 0.8em;
    margin: .4rem 0 .4rem 0;
    display: block;
}

.inline-additional-note,
.inline-additional-notes,
.inline-asterisk {
    max-width: 90%;
    font-size: 0.8em;
    margin: .4rem 0 .4rem 0;
    display: inline;
}

ul.navbar-links>li:hover {
    -webkit-text-stroke-width: .1px;
    border-radius: .4rem;
}

mat-panel-title:hover {
    -webkit-text-stroke-width: .5px;
    border-radius: .4rem;
}

li>h3:hover {
    -webkit-text-stroke-width: .5px;
    border-radius: .4rem;
}

li>h4:hover {
    -webkit-text-stroke-width: .5px;
    border-radius: .4rem;
}

// lists
ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}

ul,
ol {
    counter-reset: list-level;
    margin: 4px 0 2px 1em;
    line-height: 1.3;
}

ul ul,
ol ol {
    counter-increment: list-level;
    margin: 4px 0 2px 1em;
}

ul li:nth-child(3n+1)>ul,
ol li:nth-child(3n+1)>ol {
    list-style-type: circle;
}

ul li:nth-child(3n+2)>ul,
ol li:nth-child(3n+2)>ol {
    list-style-type: square;
}

ul li:nth-child(3n+3)>ul,
ol li:nth-child(3n+3)>ol {
    list-style-type: disc;
}

li {
    padding: 7px;
    font-size: 1rem;
}

.condensed li {
    padding: 1px 0 !important;
}

.header {
    text-decoration: underline;
    font-size: 1rem;
    font-weight: 700;
}

.mat-mdc-card-header {
    padding: 0px;
    padding-left: 25px;
}

important-high,
.important,
important-text {
    font-weight: bold;
    font-size: calc(100% + .5rem);
    line-height: 1.5;
    font-style: italic;
}

important-med,
.importantish,
importantish-text {
    font-weight: bold;
    font-style: italic;
    padding: 0 6px;
}

important-normal,
.important-less {
    font-weight: 900;
}

important-low {
    font-weight: 700;
}

.strike,
.strikeout {
    text-decoration: line-through;
}

.topics {
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 1em;
    width: 100%;
    overflow: auto;
}

.topics>div {
    padding: 1em;
    line-height: 1.1;
}

.mat-mdc-dialog-surface {
    overflow: hidden !important;
}

.strikeout {
    text-decoration: line-through;
}

.mat-icon {
    vertical-align: middle;
}

inline-file,
.file {
    font-size: 1.5rem;
    font-weight: 600;
    font-variant: small-caps;
    display: inline-block;
    padding: .5em 5px;
    border-radius: 5px;
}

.directory {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    padding: .6em 8px;
    border-radius: 6px;
    padding: 0;
}

.directory::after {
    content: url('../src/assets/images/dir.png');
    margin-left: 5px;
}

.answer {
    padding: 3px 2em;
    width: 600px;
}

.note {
    font-weight: 400;
    font-size: small;
}

.commentgrid {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-gap: 1em;
}

.comment,
comment-text {
    font-family: Consolas;
    padding: 2px;
    display: inline-block;
}

// lists
.olq {
    list-style-type: lower-alpha;
    border-radius: 5px;
}

.ula {
    list-style-type: none;
    border-radius: 5px;
}


// Buttons and links
a {
    cursor: pointer !important;
    text-decoration: underline !important;
}

a:active {
    font-weight: 600 !important;
}

a,
.mat-mdc-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-flat-button,
.mat-mdc-unelevated-button {
    cursor: pointer !important;
    display: inline-block;
    margin: 0 5px; // adds space between buttons
}

.highlight {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    opacity: .5;
}

highlight-text {
    font-weight: 800;
}

.question {
    font-style: italic;
}

// makes the question_mark icon bigger
.questionmark {
    font-size: 1.5rem !important;
    font-weight: 600;
    height: 1.5rem !important;
    width: 1.5rem !important;
}

.mat-expansion-panel {
    border-radius: 5px;
    margin: 1em;
    width: 100%;
    max-width: 100%;
}

.mat-expansion-panel-header {
    font-size: 1rem !important;
}

mat-panel-subtitle {
    padding: 0 1em 0 0;
    height: 100%;
    place-content: center;
}

// dls
dl {
    display: grid;
    grid-template-columns: auto 1fr;
    width: fit-content;
    grid-gap: 1rem;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

// only alter the first dl but change subsequent dls back to the default
dl dl {
    display: block;
}

dl dl dt {
    text-align: left;
    margin: 1rem;
}

dl dl dd {
    text-align: left;
}

dt {
    font-weight: 700;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: normal;
    text-align: right;
    padding: 0.5em;
}

dd {
    padding: 0.5em;
}

// custom stuff
.example-container,
.terminal-result,
.result,
result-text,
.cmd {
    max-width: 18.75rem;
    min-width: fit-content;
    padding: 1em;
    display: inline-block;
}

result-text {
    display: block;
}

.example-container-large,
.terminal-result-large,
.result-large,
.cmd-large {
    width: 500px;
    min-width: fit-content;
    padding: 1em;
    margin: 1em;
}

.example-container {
    border: 1px solid #222;
    border-radius: 5px;
}

.example {
    font-family: Consolas;
    border-radius: 5px;
    padding: 1em;
    margin-top: 1em;
    display: inline-block;
}

.good {
    font-weight: 600;
}

.bad {
    font-weight: 600;
}

.min-table {
    width: fit-content !important;
    border-collapse: collapse;
    border-spacing: 0;
}

// custom fonts
.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bungee-spice-regular {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}

// notches
.colorSlider .mat-mdc-slider .mdc-slider__tick-mark--active,
.mat-mdc-slider .mdc-slider__tick-mark--inactive {
    height: 4px !important;
    width: 6px !important;
}

// copy
.copy-container {
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1rem;
}

.copy-container>button {
    border: 1px solid #222;
    border-radius: 5px;
    background-color: aquamarine;
}

// statuses
.done {
    border-radius: 5px;
    margin: .5rem;
    padding: 5px;
    margin-right: 1rem;
    border-width: 1px;
    border-style: solid;
    display: inline-block; // allows it to affect other elements around it
}

.not-started {
    border-radius: 5px;
    margin: .5rem;
    padding: 5px;
    margin-right: 1rem;
    border-width: 1px;
    border-style: solid;
    display: inline-block; // allows it to affect other elements around it
}

.bug {
    border-radius: 5px;
    margin: .5rem;
    padding: 5px;
    margin-right: 1rem;
    border-width: 3px;
    border-style: dashed;
    display: inline-block; // allows it to affect other elements around it
}

.in-progress,
.pending {
    border-radius: 5px;
    margin: .5rem;
    padding: 5px;
    margin-right: 1rem;
    border-width: 1px;
    border-style: solid;
    display: inline-block; // allows it to affect other elements around it
}

.done:after {
    content: "[Complete]";
}

.not-started:after {
    content: "[Not Started]";
}

.bug:after {
    content: "[Bug]";
}

.in-progress:after,
.pending:after {
    content: "[In Progress]";
}

// blog
.blog-date:before {
    content: "Date: ";
    font-size: .9rem;
}

.blog-date {
    font-size: 1rem;
    font-weight: 600;
    font-variant: small-caps;
    display: inline-block;
    padding: .5em 5px;
    border-radius: 5px;
}

.blog-author:before {
    content: "Author: ";
    font-size: .9rem;
}

.blog-author {
    font-size: 1rem;
    font-weight: 600;
    font-variant: small-caps;
    display: inline-block;
    padding: .2rem .5rem;
    border-radius: 5px;
}

.blog-body,
.blog-body p,
.blog-body li {
    font-size: 1.4rem;
    padding: 1rem .5rem;
    border-radius: 5px;
}

.blog-body p,
.blog-body li {

    max-width: 65%;
}

.blog-body dl {
    font-size: 1rem;
    padding: 1rem .5rem;
    border-radius: 5px;
    color: #222;
    max-width: 70%;
}

.blog-body ul {
    font-size: 1rem;
    padding: 1rem .5rem;
    border-radius: 5px;
    color: #222;
    max-width: 70%;
}

// acroymns
acronym-container {
    font-size: 1rem;
    font-variant: small-caps;
    display: inline-block;
    padding: 0 3rem 0 0;
    margin: 0;
}

acronym-name,
smallcap-text {
    font-size: 1.3rem;
    font-variant: small-caps;
    display: inline-block;
    position: relative;
    margin: 0 .6rem 0 .2rem;
}

acronym-abbr {
    display: inline-block;
    font-variant: initial;
    position: relative;
    margin: 0 auto;
    right: -2rem;
}

acronym-abbr::before {
    content: "(";
    position: absolute;
    top: 50%;
    left: -1.5rem;
    transform: translateY(-50%);
}

acronym-abbr::after {
    content: ")";
    position: absolute;
    top: 50%;
    right: -1.5rem;
    transform: translateY(-50%);
}

.add-space {
    margin-left: 1rem;
    width: 80%;
}