<mat-card class="card">
    <mat-card-header>
        <mat-card-title>
            <h1 data-testid="header-title">Help!</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="subtitle">These are some commands to get you started. You can click the ? or type "help" at any
                time to get
                this information again.</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="topics">
            <table>
                <tr>
                    <th>Need</th>
                    <th>Command</th>
                </tr>
                <ng-template ngFor let-dat [ngForOf]="data.cmds">
                    <tr>
                        <td>{{ dat.description }}</td>
                        <td>{{ dat.command }}</td>
                    </tr>
                    <tr *ngIf="dat.examples.length > 0">
                        <td></td>
                        <td>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Example</mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li *ngFor="let example of dat.examples">
                                        {{ example }}
                                    </li>
                                </ul>
                            </mat-expansion-panel>
                        </td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </mat-card-content>
</mat-card>