@media (min-width: 0) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 55svh repeat(4, min-content);
    height: 100svh !important;
  }

  .mudgrid-expanded {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: min-content 55svh repeat(4, min-content);
    grid-template-rows: min-content;
    height: 80svh !important;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 55svh repeat(4, min-content);
    height: 100svh !important;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

@media (min-width: 576px) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 55svh repeat(4, min-content);
    height: 100svh !important;
  }

  .mudgrid-expanded {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: 1fr;
    grid-template-rows: min-content 55svh repeat(4, min-content);
    height: 100svh !important;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title"
      "main"
      "command"
      "status"
      "aiimage"
      "aiimage";
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    height: 100svh !important;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

@media (min-width: 768px) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
    height: 100svh !important;

  }

  .mudgrid-expanded {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .room-image {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title title status"
      "main main status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

@media (min-width: 992px) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
    height: 100svh !important;

  }

  .mudgrid-expanded {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title title status"
      "main main status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

@media (min-width: 1200px) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
    height: 100svh !important;

  }

  .mudgrid-expanded {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title title status"
      "main main status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

@media (min-width: 1400px) {
  .mudgrid-fullscreen {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
    height: 100svh !important;

  }

  .mudgrid-expanded {
    grid-template-areas:
      "title title status"
      "title title status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .mudgrid-collapsed {
    grid-template-areas:
      "title title status"
      "main main status"
      "main main status"
      "main main aiimage"
      "command command aiimage";
    grid-template-columns: 400px 1fr 325px;
    grid-template-rows: 45px repeat(3, 24svh) 60px;
  }

  .ticker-grid {
    grid-template-columns: 1fr 50px;
    place-content: center;
  }
}

.hide {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: #222 !important;
}

.center {
  width: 60%;
  min-width: 500px;
  background-color: #333 !important;
  margin: 1rem auto 0 1rem;
}

a {
  color: teal !important;
}

a:link {
  color: teal !important;
}

textarea {
  width: 100%;
  font-size: 1.5em;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 5px;
  height: 40px;
  resize: none;
  margin: 0;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  border: 1px solid var(--theme-border-color);
}

td {
  padding: 5px;
  border: 1px solid var(--theme-border-color);
}

.mudgrid-fullscreen {
  display: grid;
}

.mudgrid-expanded {
  display: grid;
}

.mudgrid-collapsed {
  display: grid;
}

#playername,
#health {
  font-size: 2rem;
}

.menu-background {
  // background-color: #4a4231 !important;
  // #00008B : darkblue
  // #0047AB : royalblue
  // #191970 : midnightblue
  background-color: #0047AB !important;
}

.title-panel-expanded {
  height: 470px;
  overflow: hidden;
}

#title {
  grid-area: title;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

#aiimage {
  grid-area: aiimage;
  overflow: auto;
  padding: 1em;
}

#aiimage span {
  font-size: inherit;
  color: azure;
}

#main {
  grid-area: main;
  background-color: black;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1em;
  font-size: large;
  font-family: "JetBrains Mono", monospace;
  color: beige;
}

#aiimage {
  grid-area: aiimage;
  background-color: #999;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.mat-icon {
  color: azure !important;
  width: 32px !important;
  height: 32px !important;
}

.mat-icon-small {
  color: azure !important;
  width: 24px !important;
  height: 24px !important;
}

.aiimage-btn {
  background-color: #666;
  color: #fff;
  border: 1px solid var(--theme-border-color);
  border-radius: 5px;
  margin: 5px;
}

#command {
  grid-area: command;
  height: 60px;
  font-size: 2em;
  overflow: hidden;
}

#status {
  grid-area: status;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#status span {
  font-size: 1.2rem;
  font-variant: small-caps;
}

#status td {
  background-color: greenyellow important;
}

.icon-status-na {
  color: silver;
  height: 32px;
  width: 32px;
  font-size: 32px;
  padding: 0;
  margin: 0;
}


.icon-status-good {
  color: green;
  height: 32px;
  width: 32px;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.icon-status-mood-good {
  color: green;
  height: 32px;
  width: 32px;
  font-size: 32px;
  padding: 0;
  margin: 0;
}

.mud-title {
  padding: 0 1em;
  color: teal !important;
}

.mud-subtitle {
  background-color: #999;
  padding: 0 5px;
  color: #333;
}

#inventory {
  overflow: hidden;
  overflow-y: scroll;
  height: 220px;
  background-color: #4a4231;
}

#inventory ul {
  padding: 2px 20px;
}

#inventory ul li {
  width: 45%;
  float: left;
}

.event-message {
  color: #999;
}

.error-message {
  color: red;
}

.time-message {
  color: #999;
  font-size: 0.8em;
}

.changename-message {
  color: #999;
  font-size: 0.8em;
}

.info-message {
  color: #999;
}

// royalblue
.rest-message {
  color: bisque;
}

.input-message {
  color: yellow;
}

.you-attack-message {
  color: fuchsia;
}

.attach1-message {
  color: brown;
}

.attack2-message {
  vertical-align: super;
}

.status-good {
  color: springgreen;
}

.room-message {
  color: cornflowerblue;
}

.status-dicey {
  color: orangered;
}

.status-danger {
  color: crimson;
}

.room-description-message {
  color: antiquewhite;
}

.people1-message {
  color: cornflowerblue;
}

.people2-message {
  color: khaki;
}

.announcement-message {
  color: tomato;
}

/* Monsters: */
.monster1-message {
  color: cornflowerblue;
}

.monster2-message {
  color: tomato;
}

/* npcs: */
.npcs1-message {
  color: darkseagreen;
}

.environment-message {
  color: whitesmoke;
  font-size: 0.8em;
}

/* You see.. */
.items1-message {
  color: cornflowerblue;
}

.items2-message {
  color: #ffcc00;
}

/* Exits: */
.exits1-message {
  color: cornflowerblue;
}

.exits2-message {
  color: sienna;
}

.color-white {
  color: whitesmoke;
}

.color-blue {
  color: skyblue;
}

.color-red {
  color: red;
}

.color-puple {
  color: purple;
}

.color-black {
  color: #333;
}

.color-gray {
  color: #666;
}

.hr-border {
  border: 1px dashed whitesmoke;
}

.welcome-message {
  color: hotpink;
}

.direction-message {
  color: yellow;
}

.action {
  background-color: springgreen;
  border: 1px solid var(--theme-border-color);
  height: 26px;
}

.map-selected {
  background-color: springgreen !important;
  color: black !important;
}

.map-deselected {
  background-color: silver !important;
  color: black !important;
}

.help-selected {
  background-color: springgreen !important;
  color: black !important;
}

.help-deselected {
  background-color: silver !important;
  color: black !important;
}

.rest-selected {
  background-color: springgreen !important;
  color: black !important;
}

.rest-deselected {
  background-color: silver !important;
  color: black !important;
}


.action:not(:first-child) {
  margin-left: 5px;
}

.action mat-icon {
  background-color: springgreen;
}

.teal {
  color: teal;
}

.purple {
  color: rebeccapurple;
}

.red {
  color: crimson;
}

.minimap {
  width: 100%;
  height: auto;
}

.mud-sub-title-actions-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.command-input {
  width: 90%;
  font-size: 1.5rem;
  color: #999 !important;
  border: 0;
  padding: 5px 25px;
  height: 40px;
  resize: none;
  margin: 0 0 0 1em;
  overflow: hidden;
}

.command-input:focus {
  color: #fff !important;
  background-color: azure;
}

.panel-description-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.title-btns {
  color: azure;
  border: 1px solid #333;
  width: auto;
  height: auto;
}

.title-text {
  color: azure;
  font-size: 2.5rem;
  padding: 0 1em;
  font-family: "JetBrains Mono", monospace;
}

.player-image,
.npc-image,
.monster-image,
.item-image {
  width: 300px;
  height: 300px;
  border: 1px solid whitesmoke;
}

// Monsters
.friendly-monster {
  color: cornflowerblue;
}

.hostile-monster {
  color: tomato;
}

.neutral-monster {
  color: darkseagreen;
}

.soundtrack {
  width: 600px;
  font-size: .8rem;
  color: azure !important;
  margin: auto 0;
  white-space: nowrap;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.ticker-text {
  display: inline-block;
  padding: 2px 0;
  /* Allow for scrolling within the container */
}

.ticker-grid {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
}

.main,
.ticker-icon {
  color: azure;
  scrollbar-width: thin;
  scrollbar-color: #555 #222;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
}

.datacolumn {
  text-align: center;
}