html {
  background-color: cadetblue;
  background-image: url("../images/skullbones.png");
  background-repeat: repeat;
}

body {
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 5% auto 10%;
  grid-gap: 10px;
  height: calc(100vh - 10px);
}

#grid1 {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto;
  height: 100vh;
}

#grid2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5% auto 5% 5%;
  background-color: lightskyblue;
  grid-gap: 10px;
}

#grid3 {
  display: grid;
  grid-template-columns: auto 30%;
}

#title {
  font-family: 'Times New Roman', serif;
  font-size: 2rem;
  margin: 0 15px;
  position: relative;
}

#title_span {
  position: absolute;
  bottom: 0;
}

#subtitle {
  font-size: 1rem;
}

#command_wrapper {
  text-align: center;
}

/* the input itself */
#command {
    padding: 1em;
    width: 90%;
    font-size: 1rem;
}

#submit_btn_wrapper {
  text-align: center;
}

#submit_btn {
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
    margin-left: 40px;
    font-size: 1rem;
}

#messages_wrapper {
  border: 2px solid #cccccc;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #333333;
  /* -- Nice indigo blue
  background-color: #041A2F;
  */
  outline: none;
  text-align: left;
  padding: 2em;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  position: relative;
  max-height: 70vh;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

#users_connected {
  font-size: 2em;
  display: block;
  padding-left: inherit;
  text-align: center;
}

#status {
  position: fixed;
  top: 25px;
  right: 25px;
  border: 2px solid #cccccc;
  background-color: antiquewhite;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
}

#health {
  font-size: 3rem;
}

.sidebar {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
